/* Navbar styles */

.navbar {
    width: 90%;
    margin-bottom: 10px;
    padding: 2% 0;
}
.navbar .logo {
    width: 13%;
}


@media (max-width: 600px) {

    .navbar {
        margin-bottom: 15px;
        width: 90%;
    }

    .navbar .logo {
        width: 30%;
    }

}

/* END Navbar styles */