@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

/* Navbar styles */

.navbar {
    padding: 2% 0;
}
.navbar .logo {
    width: 13%;
}

/* END Navbar styles */


.homepage-screen {
    width: 100%;
    padding: 0 5%;
}


/* LandingPage styles */

.landing-page {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 24px;
}

/* row1 styles */
.row {
    width: 90%;
    padding: 8% 5%;
    
    background-image: url("./assets/HeroImagelg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.row .logo {
    width: 50%;
    filter: brightness(0) invert(1);
}

.row h4 {
    width: 40%;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 2.3vw;
    color: #FFFFFF;
}

.search-input {
    background: #FFFFFF;
    border-radius: 59px;
    width: 35%;
    height: 50px;

    margin-top: 40px;
    padding: 0 2%;
    
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.search-input input {
    border: none;
    width: 70%;

    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.4vw;
}

.search-input button {
    border: none;
    background-color: #FFFFFF;
    width: 10%;

    cursor: pointer;
}

.with-customize {
    font-size: 2.1vw;
}


.search-input input:focus {
    outline: none;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 5px;
    
    background-color: #FFFFFF;
    max-height: 170px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 20px;
    width: 31%;
}

.dropdown-content a {
    all: unset;
    cursor: pointer;
    padding: 4% 6%;
    font-size: 1.3vw;
    border-radius: 20px;
}

.dropdown-content a:hover {
    background: rgba(151, 151, 151, 0.1);
}

/* END row1 styles */



/* row2 styles */
.row-secondary {
    background-image: none;
    background-color: #E3E1DC;
    
    border-radius: 0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 3% 5%;
}

.row-secondary h6 {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.9vw;

    color: #291507;
}

.hr-line {
    width: 8%;
    border: 1px solid #4D270C;
    border-radius: 77px;
    margin-left: 0;
}

.secondary-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    padding: 0;
}

.secondary-title h1 {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5.5vw;

    color: #291507;
    width: 65%;
}

.redirect-link {
    all: unset;

    padding: 1% 0;
    cursor: pointer;
    color: rgba(41, 21, 7, 0.6);

    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.7vw;
}

.redirect-link span {
    width: 18%;
    font-size: 2.5vw;
    vertical-align: middle;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 16px;

    width: 100%;
    margin: 8% 0;
}

.cat-card {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.cat-card img {
    width: 100%;
    border-radius: 24px;
}

.cat-card h4 {
    width: 100%;
    margin-top: 10px;

    font-weight: bold;
    font-size: 15px;

    color: #291507;
}

/* END row2 styles */

/* END LandingPage styles */



/* CatInfoSection styles */

.cat-info-section {
    padding: 0 5%;
    margin: 70px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column1 h1 {
    margin: 5px 0;
    width: 80%;
    color: #291507;

    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 4.8vw;
}

.column1 p {
    margin: 40px 0;
    width: 70%;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5vw;

    color: #291507;
}

.column2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.column-img1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    width: 50%;
}

.column-img2 {
    width: 50%;
}

.column2 .image1 {
    width: 100%;
}

.column2 .image2 {
    width: 85%;
}

.column2 .image3 {
    width: 100%;
}

/* END CatInfoSection styles */


/* FooterSection styles */

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #000;
    color: white;
    width: 80%;
    padding: 2% 5%;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
}

.footer-section .logo {
    width: 15%;
    filter: brightness(0) invert(1);
}

.footer-section h6 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.2vw;
}

/* END FooterSection styles */

